<mat-toolbar color="primary" class="p-0 sticky" style="height: 50px">
    <button mat-button class="h-100">
        <mat-icon fontIcon="home" class="align-middle ps-1"
                  style="font-size: 2rem; height: 2rem; width: auto"></mat-icon>
        <span class="mat pe-2 align-middle">Homebanking</span>
    </button>

    <span style="flex: auto"></span>
    <button *ngIf="authService.isLoggedIn()" mat-button class="m-0 p-2 h-100" (click)="logout()">
        <span>Logout</span>
        <mat-icon fontIcon="logout" style="font-size: 1.5rem; height: 1.5rem; width: auto"></mat-icon>
    </button>
</mat-toolbar>
