<mat-toolbar color="primary" class="p-0 sticky" style="height: 50px">
    <button mat-button class="h-100">
        <mat-icon fontIcon="home" class="align-middle ps-1"
                  style="font-size: 2rem; height: 2rem; width: auto"></mat-icon>
        <span class="mat pe-2 align-middle" style="font-size: 1.5rem">Homebanking</span>
    </button>

    <span style="flex: auto"></span>

    <button *ngIf="authService.isLoggedIn()" mat-button class="h-100" (click)="logout()">
        <mat-icon fontIcon="logout" class="align-middle ps-1"
                  style="font-size: 2rem; height: 2rem; width: auto"></mat-icon>
        <span class="mat pe-2 align-middle" style="font-size: 1.5rem">Logout</span>
    </button>
</mat-toolbar>
